GOOGLE_APPLICATION_CREDENTIALS=credentials/google-service-account.json
GOOGLE_SHEET_ID=your_google_sheet_id_here
SPREADSHEET_ID=your_google_sheet_id_here
DAILY_BUDGET=300
MONTHLY_BUDGET=9000
LINE_CHANNEL_SECRET=your_line_channel_secret_here
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token_here
OCR_ENGINE=tesseract
TESSERACT_CMD=/usr/bin/tesseract
DEBUG_OCR=false
OCR_DEBUG_DIR=debug/ocr
